.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
}

@media screen and (max-width: 425px) {
  .section-subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}
