.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
  background-color: #f2f2f2;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .header {

  }
}

@media screen and (max-width: 768px) {
  .header {

  }
}

@media screen and (max-width: 425px) {
  .header {

  }
}
