.cards__item {
  width: 240px;
  text-align: center;
  margin: 0;
  margin-right: 100px;
  margin-top: 60px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .cards__item {
    margin: 60px auto 0;
  }
  .cards__item:nth-of-type(3n) {
    margin-right: auto;
  }
}
