.feynman__subtitle {
  position: relative;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0 auto;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .feynman__subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .feynman__subtitle {
    font-size: 25px;
  }
}
