.header__main-illustration {
  position: absolute;
  object-fit: cover;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .header__main-illustration {
    max-width: 765px;
    max-height: 688px;
    width: 100%;
  }
}
